<h2> Articles in this Series</h2>
<ul>
  <li><h6><a href="/">Home</a></h6></li>
  {% for post in site.posts %}
    <li>
      <h6>
        <a href="{{site.baseurl}}{{ post.url }}"
          {% if post.title == page.title %}
             style="color: black;"
          {% endif %}>
          {{ post.date | date: "%Y-%m-%d" }} : {{ post.title }}
        </a>
        {% if post.title == page.title %}
          &nbsp; << You are here.
        {% endif %}        
      </h6>
    </li>
  {% endfor %}
</ul>
